<!DOCTYPE html>

<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%= description %>">
    <meta name="og:title" property="og:title" content="…">
    <style>
        html,
        body {
            margin: 0;
            box-sizing: border-box;
            overflow: auto;
        }
    </style>
</head>

<body>
    <%= component %>
</body>

</html>